<%= form_for(video) do |f| %>
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col s12 m6">
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>

      <div class="field">
        <%= f.label :video_url %>
        <%= f.text_field :video_url %>
      </div>

      <div class="input-field">
        <%= f.collection_select :player_id, @players, :id, :full_name, prompt: true %>
        <%= f.label :player_id %>
      </div>

      <div class="actions">
        <%= f.submit 'Create New Video', class: 'waves-effect waves-light btn teal lighten-2' %>
        <%= link_to 'Back to Library', videos_path, class: 'waves-effect waves-light btn' %>
      </div>
    </div>
  </div>
<% end %>
