<div class="breadcrumbs-player">
  <%= link_to 'Home', root_path %> > <%= link_to 'Players', players_path %> > <%= @player.full_name %>
</div>

<div class="row">
  <div class="col s12 m4">
    <img src="<%= @player.photo %>" alt="<%= @player.full_name %>" width="100%">
  </div>
  <div class="col s12 m8">
    <h4><%= @player.full_name %></h4>

    <p>
      <strong>Hometown:</strong>
      <%= @player.hometown %>
    </p>

    <p>
      <strong>Current team:</strong>
      <%= @player.current_team %>
    </p>

    <p>
      <strong>Position:</strong>
      <%= @player.position %>
    </p>
  </div>
</div>

<div class="flex-container-wrap">
  <% @videos.each do |video| %>
    <div class="card-flex card">
      <div class="card-image">
        <iframe width="100%" height="" src="https://www.youtube.com/embed/<%= video.video_url %>" frameborder="0" allowfullscreen></iframe>
        <!-- <span class="card-title">Card Title</span> -->
      </div>
      <div class="card-content">
        <a href="/videos?video_id=<%= video.id %>">
          <p><%= video.title.truncate(27, separator: ' ') %></p>
        </a>
        <a href="<%= player_path(video.player_id) %>">
          <p><%= video.player.full_name %></p>
        </a>
        <% video.tag_list.each do |tag| %>
          <div class="chip">
            <!-- <img src="images/yuna.jpg" alt="Contact Person"> -->
            <%= tag %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
