<!DOCTYPE html>
<html>
  <head>
    <title>Ffa Hackathon</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <div class="container">
      <%= yield %>
    </div>
    <% if notice != nil %>
      <%#= content_tag 'div', 'hello world', id: 'notice' %>
      <script type="text/javascript">
        var text = $('#notice').text();
        console.log(text);
        Materialize.toast(text, 4000)
      </script>
    <% end %>
  </body>
</html>
